@model IEnumerable<LMS.Models.BorrowRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Borrowdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Returndate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Borrowdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Returndate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Bookid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Memberid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Recordid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Recordid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Recordid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
